@font-face {
  font-family: 'FZXingKai-S04S';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZXKJW.TTF');
}

@font-face {
  font-family: 'FZKai-Z03S';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZKTJW.TTF');
}

@font-face {
  font-family: 'FZShuTi-S05S';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZNSTJW.TTF');
}

@font-face {
  font-family: 'FZXiDengXian-Z06S';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZXDXJW.TTF');
}

@font-face {
  font-family: 'FZZhongDengXian-Z07S';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZZDXJW.TTF');
}

@font-face {
  font-family: 'LiSu';
  src: url('https://static-bdata.zjzw.cn/static/fonts/LISUJW.ttf');
}

@font-face {
  font-family: 'YouYuan';
  src: url('https://static-bdata.zjzw.cn/static/fonts/YYJW.ttf');
}
@font-face {
  font-family: 'FZDBSJT';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZDBSJT.TTF');
}

@font-face {
  font-family: 'FZXBSJT';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FZXBSJT.ttf');
}

@font-face {
  font-family: 'FSGB2312';
  src: url('https://static-bdata.zjzw.cn/static/fonts/FSGB2312.ttf');
}

@font-face {
  font-family: 'KTGB2312';
  src: url('https://static-bdata.zjzw.cn/static/fonts/KTGB2312.ttf');
}

@font-face {
  font-family: 'ZYHT';
  src: url('https://static-bdata.zjzw.cn/static/fonts/ZYHT.ttf');
}
@font-face {
  font-family: 'AlimamaDongFangDaKai';
  src: url('https://static-bdata.zjzw.cn/static/fonts/AlimamaDongFangDaKai.ttf');
}
@font-face {
  font-family: 'JDXHJ';
  src: url('https://static-bdata.zjzw.cn/static/fonts/JDXHJ.TTF');
}
@font-face {
  font-family: 'SYHTBOLD';
  src: url('https://static-bdata.zjzw.cn/static/fonts/BOLD.OTF');
}
@font-face {
  font-family: 'SYHTEXTRALIGHT';
  src: url('https://static-bdata.zjzw.cn/static/fonts/EXTRALIGHT.OTF');
}
@font-face {
  font-family: 'SYHTHEAVY';
  src: url('https://static-bdata.zjzw.cn/static/fonts/HEAVY.OTF');
}
@font-face {
  font-family: 'SYHTLIGHT';
  src: url('https://static-bdata.zjzw.cn/static/fonts/LIGHT.OTF');
}
@font-face {
  font-family: 'SYHTMEDIUM';
  src: url('https://static-bdata.zjzw.cn/static/fonts/MEDIUM.OTF');
}
@font-face {
  font-family: 'SYHTNORMAL';
  src: url('https://static-bdata.zjzw.cn/static/fonts/NORMAL.OTF');
}
@font-face {
  font-family: 'SYHTREGULAR';
  src: url('https://static-bdata.zjzw.cn/static/fonts/REGULAR.OTF');
}
@font-face {
  font-family: 'SYHTREGULAR';
  src: url('https://static-bdata.zjzw.cn/static/fonts/REGULAR.OTF');
}